{% if pages %}
    {% for page in pages %}
        <article>
            <small>{{ page.date }}</small>
            <br><a href="{{ page.url }}" class="title">{{ page.title }}</a>
        </article>
    {% endfor %}
    {% if previous %}
        <small>
            <a href="?page={{ page_nb }}" class="pagination">&larr;&nbsp;previous</a>
        </small>
    {% endif %}
{% else %}
    <p>No article found</p>
{% endif %}
