<h1><a href="/">{{ site_title }}</a></h1>
<div class="toggle-container">
  <button class="theme-btn light" onclick="setColorScheme('light')" title="Light mode">&#9681;</button>
  <button class="theme-btn dark" onclick="setColorScheme('dark')" title="Dark mode">&#9680;</button>
</div>
