:root {
    --font-light: #191919;
    --background-light: #efefef;
    --search-light: #ddd;
    --code-light: #ddd;
    --links-light: #23585C;
    --links-hover-light: #0e2325;
    --tags-light: #853785;
    --tags-hover-light: #4f214f;
    --h1-light: #8568b9;
    --h1-nav-light: #000;
    
    --font-dark: #efefef;
    --background-dark: #1b1c28;
    --search-dark: #ccc;
    --code-dark: #444;
    --links-dark: #83D1D4;
    --links-hover-dark: #79B1B4;
    --tags-dark: #D293D2;
    --tags-hover-dark: #bc5dbc;
    --h1-dark: #bc9bf8;
    --h1-nav-dark: #fff;
  }

:root,
    :root.light {
        --font: var(--font-light);
        --background: var(--background-light);
        --search: var(--search-light);
        --code: var(--code-light);
        --links: var(--links-light);
        --links-hover: var(--links-hover-light);
        --tags: var(--tags-light);
        --tags-hover: var(--tags-hover-light);
        --h1: var(--h1-light);
        --h1-nav: var(--h1-nav-light);
    }

    :root.dark {
        --font: var(--font-dark);
        --background: var(--background-dark);
        --search: var(--search-dark);
        --code: var(--code-dark);
        --links: var(--links-dark);
        --links-hover: var(--links-hover-dark);
        --tags: var(--tags-dark);
        --tags-hover: var(--tags-hover-dark);
        --h1: var(--h1-dark);
        --h1-nav: var(--h1-nav-dark);
    }

@font-face {
    font-family: 'Luciole';
    src: url('Luciole-Regular/Luciole-Regular.eot'); /* IE9 Compat Modes */
    src: url('Luciole-Regular/Luciole-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Luciole-Regular/Luciole-Regular.woff') format('woff'), /* Modern Browsers */
         url('Luciole-Regular/Luciole-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Luciole-Regular/Luciole-Regular.svg#Luciole-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    margin: 1rem;
    background-color: var(--background);
    color: var(--font);
    font-family: Luciole, sans-serif;
}

p {
    line-height: 1.8rem;
}

a {
    text-decoration: underline;
    color: var(--links);
}

a:hover {
    text-decoration: underline;
    color: var(--links-hover);
}

li {
    line-height: 1.8rem;
}

h1 {
    font-size: 2.5rem;
    color: var(--h1);
}

.social-icons {
    display: block;
    height: 20px;
}

.social-icons p {
    display: initial;
}

.social-icons a {
    margin-right: 10px
}

.social-icons img {
    display: inline-block;
    margin: 0;
    height: 100%;
}

.title {
    font-size: 1.1rem;
}

#tags {
    margin-top: 2rem;
}

.tag, .pagination {
    color: var(--tags);
    margin: 10px 12px 0px 0px;
    display: inline-block;
}

.tag:hover, .pagination:hover {
    color: var(--tags-hover);
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 4px;
}

svg {
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: top;
}

footer {
    margin: 2rem auto;
    text-align: center;
}

footer svg {
    height: 1rem;
    width: 1rem;
    vertical-align: bottom;
    color: red;
}

nav {
    padding-bottom: 1rem;
    border-bottom: 1px dotted var(--font);
}

nav h1 {
    display: inline-block;
    color: var(--h1-nav);
    font-size: inherit;
    margin: 0;
}

nav a, nav a:hover {
  color: inherit;
  text-decoration: none;
}

header {
    text-align: center;
}

article header {
    margin: 1rem 0;
    border-bottom: none;
    text-align: left;
}

article {
    margin-bottom: 1rem;
}

.search {
    background-color: var(--background);
    display: flex;
    margin: 0px auto;
    border-radius: 0.4rem
}

.search button, .search input {
    border: none;
    background-color: none;
    padding: 0.4rem;
}

.search button {
    border-radius: 0.4rem 0rem 0rem 0.4rem;
    background-color: var(--search);
    padding-right: 0px;
}

.search button svg {
    height: 1.2rem;
}

.search input {
    width: 100%;
    border-radius: 0rem 0.4rem 0.4rem 0rem;
    background-color: var(--search);
}

.search input:active, .search input:focus {
    outline: none;
}

pre, code {
    background-color: var(--code);
    border-radius: 0.2rem;
}

pre {
    padding: 1rem;
    overflow: scroll;
}

p code {
    padding: 0.2rem;
    font-size: 0.9rem;
}

.toggle-container {
    float: right;
}

.theme-btn {
    background: none;
    border: none;
    color: var(--font);
    font-size: 1.2rem;
    cursor: pointer;
}

.theme-btn.light {
    display: none;
}

.dark .theme-btn.light {
    display: block;
 }

.dark .theme-btn.dark {
    display: none;
}


@media screen and (min-width: 768px) {
    body {
        margin: 1rem 1rem;
    }
}

@media screen and (min-width: 769px) {
    body {
        max-width: 42rem;
        margin: 1rem auto;
    }
    .search {
        max-width: 28rem;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --font: var(--font-dark);
        --background: var(--background-dark);
        --search: var(--search-dark);
        --code: var(--code-dark);
        --links: var(--links-dark);
        --links-hover: var(--links-hover-dark);
        --tags: var(--tags-dark);
        --tags-hover: var(--tags-hover-dark);
        --h1: var(--h1-dark);
        --h1-nav: var(--h1-nav-dark);
    }
}
