{% extends "layout.html" %}
{% block title %}{{ meta_title }} - {{ site_title }}{% endblock title %}
{% block head %}<meta name="description" content="{{ meta_description }}" />{% endblock head %}

{% block content %}
<h2>404</h2>
<p>Sorry, we couldn't find this page.</p>
<a href="/">Back to homepage</a>
{% endblock content %}

