<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock title %}</title>
  {% block head %}{% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="fediverse:creator" content="{{ fediverse_creator_link }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="me" href="{{ mastodon_verification_link }}" />
  <link href="/assets/normalize.css" rel="stylesheet">
  <link href="/assets/styles.css" rel="stylesheet">
</head>

<body>
  <script type="text/javascript" src="/assets/color-scheme-switcher.js"></script>
  <nav>
    {% include "tags/navigation.html" %}
  </nav>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    <small>
      Made with
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path
          d="M9.653 16.915l-.005-.003-.019-.01a20.759 20.759 0 01-1.162-.682 22.045 22.045 0 01-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 018-2.828A4.5 4.5 0 0118 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 01-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 01-.69.001l-.002-.001z" />
      </svg>
      by <a href="https://getheiwa.org">Heiwa</a>
    </small>
  </footer>
</body>

</html>