{% extends "layout.html" %}
{% block title %}{{ meta_title }} - {{ site_title }}{% endblock title %}
{% block head %}<meta name="description" content="{{ meta_description }}" />{% endblock head %}

{% block content %}
<article>
    <header>
        <small>
        {% if page.author %}
            by&nbsp;{{ page.author }}
        {% endif %}
        {% if page.date %}
            ::&nbsp;{{ page.date }}
        {% endif %}
        {% if page.duration %}
            ::&nbsp;{{ page.duration }} min read
        {% endif %}
        {% if page.tags %}
            <br>
            {% for tag in page.tags %}
                <a href="/tags/{{ tag }}" class="tag">#{{ tag }}</a>
            {% endfor %}
        {% endif %}
        </small>
    </header>
    {{ page.content | safe }}
</article>
{% endblock content %}
