{% extends "layout.html" %}
{% block title %}{{ meta_title }} - {{ site_title }}{% endblock title %}
{% block head %}<meta name="description" content="{{ meta_description }}" />{% endblock head %}

{% block content %}
<p>>&nbsp;search&nbsp;>&nbsp;"{{ search }}"
{% include "tags/searchform.html" %}
<h2>
	Articles
</h2>
{% include "tags/articles-list.html" %}
{% endblock content %}
