{% extends "layout.html" %}
    pages.sort_by(|a, b| b.date.cmp(&a.date));
{% block title %}{{ meta_title }} - {{ site_title }}{% endblock title %}
{% block head %}<meta name="description" content="{{ meta_description }}" />{% endblock head %}

{% block content %}
<p>>&nbsp;tags&nbsp;>&nbsp;{{ meta_title }}</p>
<h2>
    Articles
    <a href="/rss?tag={{ tag }}" title="RSS feed">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M3.75 3a.75.75 0 00-.75.75v.5c0 .414.336.75.75.75H4c6.075 0 11 4.925 11 11v.25c0 .414.336.75.75.75h.5a.75.75 0 00.75-.75V16C17 8.82 11.18 3 4 3h-.25z" />
            <path d="M3 8.75A.75.75 0 013.75 8H4a8 8 0 018 8v.25a.75.75 0 01-.75.75h-.5a.75.75 0 01-.75-.75V16a6 6 0 00-6-6h-.25A.75.75 0 013 9.25v-.5zM7 15a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
    </a>
</h2>
{% include "tags/articles-list.html" %}
{% endblock content %}
